*{
  margin: 0;
  padding: 0;
}


img{
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  width: 30%;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    }

form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
  margin:0 auto;
   height: 60%;
    width: 60%;
    border: 2px solid black;
    }
body{
  background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-size:cover;



background-attachment: fixed;

 }
 .dropdown-item{
   margin-bottom: 20px;
 }
.padre{
  margin:0 auto;
 
}
.container{
  background-color:transparent;
  margin:0 auto;
   height: 70%;
    width: 70%;
}