
#img-back{
    border-radius: 50%;
width:6rem;
height: 6rem;
}
header{

    background-color:transparent;
  }

body {
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    width:100%;
}

img {
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    width: 30%;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    
    width: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    margin:0 auto;
     height: 100%;
     margin-top:4%;
      border: 3px solid rgb(142, 177, 182);  
    


}
#img-id{
    margin-bottom:  2%;
}

header {
    background-color:white;
    border: 3px solid rgb(142, 177, 182);
}
.container{
    margin: 100px;
    margin:0 auto;
     height: 70%;
      width: 70%;
}
