body{
    background-color:rgb(94, 193, 210);
}
.hola{
  background-color:whitesmoke;
}

img{
 
}
.slide{
    margin-top:10px;
}
.slide img{

}
.carousel-inner{
    width: 100%;
    height: 100%;
    margin:0 auto;
}
.carousel-item{
    margin:0 auto;
} 