body{
    background-color:rgb(94, 193, 210);

}
.hola{
  background-color:whitesmoke;
}

img{
 width:90%;
 margin:0 auto;
}
.slide{
    margin-top:10px;
}

.carousel-inner{
    position:relative;
    margin:0 auto;
}
.carousel-indicator{
    text-align: center;
    margin:auto;
}
