body{
    background-color:rgb(94, 193, 210);

}
.hola{
  background-color:whitesmoke;
}

img{
 width:100%;
}
.slide{
    margin-top:10px;
}

.carousel-inner{
    position:relative

}
.carousel-indicator{
    text-align: center;
    margin:0 auto;
}